

ion-tabs {
    ion-tab-bar {
      background-color: #333;
      color: #fff; 
      border-top: 1px solid #555; 
    }
  
    ion-tab-button {
      ion-icon {
        --ion-tab-bar-icon-size: 24px;
      }
  
      ion-label {
        font-size: 12px; 
      }
  
    
      &.tab-selected {
        --background: rgb(255, 127, 38);
        color: #fff; 
      }
    }
  }
  